@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    :root {
        --background: 240 12% 13%;
        --foreground: 0 0% 90%;

        --card: 220 10% 15%;
        --card-foreground: 0 0% 90%;

        --popover: 220 10% 20%;
        --popover-foreground: 0 0% 90%;

        --primary: 21 95.1% 52.4%;
        --primary-hover: 21 70% 52.4%;
        --primary-foreground: 0, 0%, 95%;

        --secondary: 0 0% 86%;
        --secondary-foreground: 220, 15%, 20%;

        --muted: 220 10% 30%;
        --muted-foreground: 0 0% 90%;

        --accent: 210 100% 30%;
        --accent-foreground: 0 0% 90%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 0 0% 90%;

        --border: 220 10% 20%;
        --input: 220 10% 20%;
        --ring: 210 100% 50%;

        --radius: 0.5rem; /* Скругление углов */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
